{% extends "::base.html.twig" %}
{% block styleSheet %}
    <link rel="stylesheet" href="{{ asset('bundles/solviseomaceo/css/enterprise/enterprise.css') }}">
{% endblock styleSheet %}
{% block body %}

    <nav id="barInfoEnterprise" class="col-lg-9 col-md-9">

        <p id="indication">Entreprise actuellement activée
            <span id="update">Dernière mise à jour 18/08/2016</span></p>

        <div id="infoComplementary">
            <img src="{{ asset('bundles/solviseomaceo/image/logo_april.png') }}"/>

            <div id="infoPerson">
                <p id="nameEnterprise">APRIL ASSURANCE</p>


                <span class="numberPractitioner">54</span><br>
                <span class="textPractitioner">Nombre de praticiens associés</span><br>
                <span class="numberPractitioner">345</span><br>
                <span class="textPractitioner">Nombre d’adhérents associés</span><br>

            </div>

            <img id="graphe" src="{{ asset('bundles/solviseomaceo/image/graphe_enterprise .png') }}">

        </div>
        <section id="bodyEnterprise">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-lg-offset-1 carreEnterprise text-center">
                    <img src="{{ asset("bundles/solviseomaceo/image/entrerprise_content.png") }}">
                    <div class="command">
                        <a><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        <a><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-lg-offset-1 carreEnterprise  text-center">
                    <img src="{{ asset("bundles/solviseomaceo/image/entrerprise_content.png") }}">
                    <div class="command">
                        <a><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        <a><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-lg-offset-1 carreEnterprise  text-center">
                    <img src="{{ asset("bundles/solviseomaceo/image/entrerprise_content.png") }}">
                    <div class="command">
                        <a><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        <a><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    </div>
                </div>

                <div class="col-lg-1 col-md-1 col-lg-offset-1 carreEnterprise  text-center">
                    <img src="{{ asset("bundles/solviseomaceo/image/entrerprise_content.png") }}">
                    <div class="command">
                        <a><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        <a><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    </div>

                </div>
                <div class="col-lg-1 col-md-1 col-lg-offset-1 carreEnterprise  text-center">
                    <img src="{{ asset("bundles/solviseomaceo/image/entrerprise_content.png") }}">
                    <div class="command">
                        <a><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        <a><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    </div>

                </div>
                <div class="col-lg-1 col-md-1 col-lg-offset-1 carreEnterprise  text-center">
                    <img src="{{ asset("bundles/solviseomaceo/image/entrerprise_content.png") }}">
                    <div class="command">
                        <a><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        <a><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    </div>

                </div>
                <div class="col-lg-1 col-md-1 col-lg-offset-1 carreEnterprise  text-center">
                    <img src="{{ asset("bundles/solviseomaceo/image/entrerprise_content.png") }}">
                    <div class="command">
                        <a><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        <a><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    </div>

                </div>
            </div>
        </section>

    </nav>


    <aside id="sectionInfoEnterprise" class="col-lg-2 col-md-1 ">

        <div id="infoEnterprise">
            <img src="{{ asset('bundles/solviseomaceo/image/logoDetailEnterprise.png') }}">
            <p>SMAM ASSURANCES</p>
        </div>

        <div id="infoEnterpriseContent">
            <p>
                Téléphone du service DRH<br>


                <span>0456742345</span>

            </p>
            <p class="pair">
                Téléphone de la compta<br>
                <span>0456742345</span>
            </p>
            <p>
                Adresse du service DRH<br>


                <span>0456742345</span>

            </p>
            <p class="pair">
                Adresse de la compta<br>
                <span>0456742345</span>
            </p>
            <p>
                Extranet de la compta<br>


                <span>Lien</span>

            </p>
            <p class="pair">
                Extranet du service DRH<br>
                <span>0456742345</span>
            </p>
            <p>
                Téléphone du service DRH<br>


                <span>Lien</span>

            </p>
            <p class="pair">
                Identifiant<br>
                <span>NFT5URB</span>
            </p>
            <p>
                Téléphone du service DRH<br>


                <span>0456742345</span>

            </p>
            <p class="pair">
                Téléphone de la compta<br>
                <span>0456742345</span>
            </p>
            <p>
                Mot de passe<br>


                <span>Sorglub</span>

            </p>


{#<div id="button" class="text-center">#}
{#<a href="">Sélectionner#}
    {#l’entreprise</a>#}
{#</div>#}
        </div>
    </aside>






{% endblock body %}