{% extends "::base.html.twig" %}
{% block styleSheet %}
{% endblock styleSheet %}

{% block body %}
    <div><h2>Liste des personnes</h2></div>
    <div>
        <table id="results" class="table table-bordered table-striped small">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Téléphones</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Pays</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for person in persons %}
                <tr>
                    <td nowrap>{{person}}</td>
                    <td>{{person.email}}</td>
                    <td>{{person.mainPhone}} / {{person.secondaryPhone}}</td>
                    <td>{{person.address}}</td>
                    <td>{{person.zipCode}}</td>
                    <td>{{person.city}}</td>
                    <td>{{person.country}}</td>
                    <td nowrap><a href="{{path('karudev_persons_person_show',{'person' : person.id})}}">+ détails</a> | 
                    <a href="{{path('karudev_persons_person_edit',{'person' : person.id})}}">modifier</a> | 
                    <a href="{{path('karudev_persons_person_delete',{'person' : person.id})}}">supprimer</a></td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}
{% block javascripts %}
<script src="{{ asset('/bundles/karudevperson/js/person.js') }}"></script>
{% endblock javascripts %}